{{- $recent := where .Site.RegularPages "Section" "in" .Site.Params.mainSections }}
{{- $recent_num := (.Site.Params.widgets.recent_num | default 10) }}

{{- if $recent }}
<div class="widget-recent widget">
	<h4 class="widget__title">{{ T "recent_title" }}</h4>
	<div class="widget__content">
		<ul class="widget__list">
			{{- range first $recent_num $recent }}
			<li class="widget__item">
				<a class="widget__link widget-recent__item" href="{{ .RelPermalink }}">
				{{- if .Params.thumbnail }}
					<img class="widget-recent__thumbnail" src="{{ .Params.thumbnail }}"/>
					{{ .Title }}
				{{- else }}
					- {{ .Title }}
				{{- end }}
				</a>
			</li>
			{{- end }}
		</ul>
	</div>
</div>
{{- end }}